@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    }
    .flexible-container{
        display: flex;
        margin:3% 7%;
    }
 /*      Start Navbar      */

 .half-width{
     width: 50%;
    
 }
 .half-width img{
     width: 120px;
     
     
 }
 .navbar{

    
 }
    ul {
        list-style-type: none;
       
      }
     li {
        float: right;
      }
      li a {
        display: block;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 10px;
        text-decoration: none;
      }

       /*      End Navbar      */

       /*         Start-Body-Part-1    */
.body1{
           display: flex;
           
}
  .heading-font{
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    padding-right: 40%;
    line-height: 1.3;
  }
    .heading-half-width{
           width: 50%;
  }
  .heading-half-width img{
      width: 65%;
      padding-left: 25%;
  }
  .linear-button{
      color: white;
      border-radius:50px;
      padding:10px 30px;
      background-image: linear-gradient(orange, tomato);
      font-weight: 700px;
      text-decoration: none;
  }

/*         End-Body-Part-2           */
.body2{
    
   
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;   
}
.half-width2{
    width: 50%;
    
}
.half-width2 img{
    width: 50%; 
       
}


/*--------------Start Recipies----------------- */


.half-width3{
    position: relative;
    width: 100/3%;
    box-shadow:0px 0px 40px rgba(0, 0, 0, 0.192);
    text-align: center;
    border-radius: 30px;
    padding:20px ;
    margin-left:25px;
}
.recipies-img1 img{
    width: 320px;
    height: 256px;
    border-radius:20px ;   
}
.recipies-text{
    text-align: center;
    
}

/* --------------End Recipies---------------- */


#subscrivers
{
    display: flex;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.192);
    border-radius: 20px;
    margin: 10%;
    
   
    
    
}

.subscribers-follw{
    
    text-align: center;
    width: 50%;
    padding: 10px;    
}

/*  Start Pricing */

.pricing{
    color: rgb(155, 0, 0);
    
}
