@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    }
    .flexible-container{
        display: flex;
        margin:3% 7%;
    }

 /* ------------Start Navbar---------------*/
 .half-width{
     width: 50%;
    
 }
 .half-width img{
     width: 120px;
     
     
 }
    ul {
        list-style-type: none;
       
      }
     li {
        float: right;
      }
      li a {
        display: block;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 10px;
        text-decoration: none;
      }
 /*-----------------------------End Navbar-----------------------------*/

 /* --------------------------Start Hero Area------------------------ */
.hero-area{
           display: flex;
           
}
  .heading-font{
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    padding-right: 40%;
    line-height: 1.3;
  }
    .heading-half-width{
           width: 50%;
  }
  .heading-half-width img{
      width: 65%;
      padding-left: 25%;
  }
  .linear-button{
      color: white;
      border-radius:50px;
      padding:10px 30px;
      background-image: linear-gradient(orange, tomato);
      font-weight: 700px;
      text-decoration: none;
  }
/* --------------------End Hero Area---------------*/


/* ---------------------Start About me--------------- */
#about-me {
    display: flex;
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-size: cover;
    background-position: center;
    margin: 120px 0px;
}

.about-left,
.about-right {
    width: 50%;
}

.about-left img {
    width: 50%;
    padding: 10% 20% 0 30%;
}

.about-right {
    color: #707070;
    padding: 5% 15% 0 15%;
    line-height: 1.2;
}

.about-right p {
    padding: 25px 0;
}
/* ------------------------End About Me-------------------- */

/*------------------------Start Recipies---------------- */
.half-width3{
    position: relative;
    width: 100/3%;
    box-shadow:0px 0px 40px rgba(0, 0, 0, 0.192);
    text-align: center;
    border-radius: 30px;
    padding:20px ;
    margin-left:25px;
}
.recipies-img1 img{
    width: 320px;
    height: 256px;
    border-radius:20px ;   
}
.recipies-text{
    text-align: center;
    
}
.recipies{
    margin: 20px 0px;
}
/* -------------------------------End Recipies------------------------- */



/*  -------------------------------Start Pricing----------------------- */
/* Same css Recipies  */

.pricing{
    color: rgb(194, 0, 0);
    
}
/* --------------------------------------End Pricing------------------- */

/* -------------------------------------Start Subscribers/Follower-------------------- */
#subscrivers
{
    display: flex;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.192);
    border-radius: 20px;
    margin: 9%;    
}

.subscribers-follw{
    
    text-align: center;
    width: 50%;
    padding: 10px;    
}
/* -----------------------------------------End Subscribers Follwer------------------------ */

/*  ------------------------------------------Start Contact---------------------------  */
.contact-form{
    background-color:#ff9b17;
    box-sizing: border-box;
    width: 100%;
    text-align:center;
    padding: 30px 0px;
}

.input-field {
        width:100% ;
        color: black;
        margin: 10px;
        padding: 10px;
        display: inline-block;    
    }
.input{
        width:30%;
        height:35px;
        
    }
.input-message{
    width:30%;
    height:100px;
}

    #sendMessageButton{
        color: white;
        font-size: 17px;
        padding:10px 30px;
        background-image: linear-gradient(orange, tomato);
        text-decoration: none;
    }
/* ----------------------------------------------End Contact Form----------------------- */

/* -----------------------------------------Start Footer---------------------------- */
.copyright{
    
    background-color: #0c0e1a;
    box-sizing: border-box;
    width: 100%;
    text-align:center;
    padding: 30px 0px;
    color: ivory;
    
}
.name-color{
    color: #FF8127;
}
/* --------------------------------------End Footer----------------------------------- */
